<div class="row">
  <div class="neyud"></div>
  <div class="banner">
    <div class="slider" id="single_item">
      <div>
        <%= image_tag "banner1.jpg" %>
      </div>
      <div>
        <%= image_tag "banner2.jpg" %>
      </div>
      <div>
        <%= image_tag "banner3.jpg" %>
      </div>
      <div>
        <%= image_tag "banner4.jpg" %>
      </div>
      <div>
        <%= image_tag "banner5.jpg" %>
      </div>
    </div>
  </div>
</div>
