<div class="clear"></div>
<footer class="footer">
  <div class="container">
    <div class="footer-menu">
      <ul>
        <li class="group">
          <%= t ".help" %>
          <ul>
            <li>Email: manhnt0210@gmail.com</li>
            <li><%= t ".hotline" %>: <span>0123456798</span></li>
          </ul>
        </li>
        <li class="group">
        <%= t ".about" %>
          <ul>
            <li><a href=""><%= t ".recruitment" %></a></li>
          </ul>
        </li>
        <li class="group">
          <%= t ".account" %>
          <ul>
            <li><a href=""><%= t ".account" %></a></li>
            <li><a href=""><%= t ".notifi" %></a></li>
          </ul>
        </li>
        <li class="group">
          <%= t ".guide" %>
          <ul>
            <li><a href=""><%= t ".shopping_guide" %></a></li>
            <li><a href=""><%= t ".transportation_method" %></a></li>
            <li><a href=""><%= t ".payment_method" %></a></li>
          </ul>
        </li>
      </ul>
    </div> <!-- het footer-menu -->
    <div class="clear"></div>
    <div class="footer-address">
      <div class="coppyright">
        Copyright © 2019 Nobita.vn
      </div>
    </div> <!-- het footer-address -->
    <div class="backtotop" onclick="topFunction()" id="myBtn">
        <i class="fa fa-arrow-up"></i>
    </div>
  </div>
</footer> <!-- het footer -->
